@use "../base/variables";
@use "../base/mixins";

.footer {
    &__ajust {
        display: flex;
        border-top: 3px solid variables.$color-emerald;
        margin-left: -283px;
        margin-right: -283px;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
        height: 120px;

        @include mixins.mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: -32px;
            margin-right: -32px;
            margin-top: 30px;
        }
    }

    &__logo {
        width: 80px;
        margin-left: 183px;
        text-align: center;

        @include mixins.mobile {
            margin-left: 0px;
            margin-bottom: 10px;
            margin-top: 40px;

        }
    }

    &__social {
        align-items: center;
        margin-right: 183px;
        @include mixins.mobile {
            margin-right: 0px;
            padding-bottom: 10px;
          
        }
    }

    &__copy {
        display: block;
        text-align: center;
        font-family: 'Chakra Petch';
        @include mixins.mobile {
            margin-top: 20px;
            font-size: 14px;
        }
    }
}