@use "../base/variables";

.footer {
    &__ajust {
        display: flex;
        border-top: 3px solid variables.$color-emerald;
        margin-left: -283px;
        margin-right: -283px;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
        height: 100px;
    }

    &__logo {
        width: 80px;
        margin-left: 183px;
    }

    &__social {
        align-items: center;
        margin-right: 183px;
    }

    &__copy {
        display: block;
       text-align: center;
       font-family: 'Chakra Petch';
    }
}