@use "../base/variables";
@use "../base/mixins";




.header {
  height: 72px;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: variables.$color-black-2;
  border-bottom: 3px solid variables.$color-emerald;
 
  &__toggle {
    display: none;
    @include mixins.mobile {
      display: block;
      margin-left: 16px;
    }
  }

  &__check {
    display: none;
    @include mixins.mobile {
      &:checked ~ .header__menu{
        transform: translateX(0);
      }
    }
  }

  &__logo {
    width: 80px;
    margin-left: 180px;
    @include mixins.mobile {
      margin-right:16px
    }
  }

  &__menu {
    display: inline-block;
    margin-right: 180px;
    font-family: 'Press Start 2P';
    font-size: 14px;

    @include mixins.mobile {
      display: block;
      position: fixed;
      width: 100%;
      top:60px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: variables.$color-black-2;
      transform: translateX(-100%);
      transition: transform 0.25s ease;
      border-top: 3px solid variables.$color-emerald;
    }

    &__item {
      $this: &;

      color: variables.$color-white;
      text-decoration: none;
      margin-left: 53px;

      @include mixins.mobile {
        display: block;
        margin: 20px 0;
        text-align: center;
      }

      &--active {
        background-color: variables.$color-ghost;
        padding: 8px;
        color: variables.$color-black;
      }

      &:hover {
        color: variables.$color-emerald;
        transition: 0.5s;
        background: rgba(49, 205, 49, .01);
      }

    }
  }

}