@use "../base/variables";
@use "../base/mixins";

.button {
    width: 144px;
    height: 40px;
    font-family: 'Chakra Petch';
    line-height: 20px;
    border-radius: 50px;
    color: variables.$color-black;
    background-color: variables.$color-ghost;
    text-decoration: none;
    border: none;

    &:hover {
        color: variables.$color-primavera;
    }
}