@use "../base/variables";
@use "../base/mixins";

.contato {
    margin-top: 152px;
    margin-bottom: 40px;

    &__title {
        font-size: 34px;
        line-height: 57px;
        font-family: 'Press Start 2P';

        &:hover {
            color: variables.$color-emerald;
            transition: 0.5s;
            background: rgba(49, 205, 49, .01);
          }

        @include mixins.mobile {
            font-size: 20px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

        @include mixins.mobile {
            font-size: 16px;
        }
    }

    &__phone {
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;

        @include mixins.mobile {
            font-size: 16px;
        }
    }

    &__email {
        margin-bottom: 80px;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;

        @include mixins.mobile {
            font-size: 16px;
        }

    }

    &__form {
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 80px;

        @include mixins.mobile {
            margin: auto;
        }


        &__size{
            width: 50%;
            @include mixins.mobile {
                width: 100%
            }
          
        }
        &__align {
            display: flex;

            @include mixins.mobile {
                display: block;
                margin: auto;
            }
            
            &__input {
                caret-color: variables.$color-emerald;
                margin-top: 10px;
                margin-bottom: 20px;
                width: 90%;
                height: 40px;
                border-radius: 10px;

                @include mixins.mobile {
                    width: 100%;
                }

                &:focus{
                    border: none;    outline: none !important;     box-shadow: 0 0 3px 2px #52c678; 
                }
            }
        }
        &__textarea {
            margin-top: 20px;
            margin-bottom: 40px;
            width: 95%;
            height: 100px;
            border-radius: 10px;
            @include mixins.mobile {
                width: 100%;
            }
            

            &:focus{
                border: none;    outline: none !important;     box-shadow: 0 0 3px 2px #52c678; 
            }
           
        }
        &__button{
          display: flex;
          justify-content: center;
          align-items: center;
        }

    }


}