$color-emerald: #52c678;
$color-primavera:  #31cd31;
$color-ghost: #cffcce;
$color-celeste: #b0fffc;
$color-tifany:  #7ed9cf;
$color-indigo: #1d67b4;
$color-tortila: #a17745;
$color-penaut:  #7c552c;
$color-white: #ffffff;
$color-black: #0A070B;
$color-black-2: #363432;
$color-primavera:  #31cd31;



$font-size-default: 16px;
$font-line-height: 30px;
$border-radius-default: 3px;

$color-primary: $color-black-2;

